@font-face {
  font-family: Operator Mono;
  src: url('/src/assets/fonts/OperatorMonoSSm-Light.otf');
}

.App-title {
  font-family: Operator Mono;
  top: 35px;
  padding-left: 10px;
  position: absolute;
  font-size: 20px;
  letter-spacing: 1.6px;
}

.App-title-first-letter {
  font-size: 30px;
  font-weight: 800;
}

.App-header {
  background-color: #222;
  height: 35px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: 13px;
}